.side-image {
    
    margin: 0;
    padding: 0;
    width: auto ;
    height: 100vh;

}
.box {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    flex: auto;
}
.my-text-input {
    display: flex;
    flex-direction: column;
    width: 50%;   
}
body {
    margin: 0;
    display: flex;
    font-family: monospace;
}
.form {
    position: relative;
}

.side-container {
    position: relative;
}
.slogan {
    position: absolute;
    width: 100%;
    height: auto;
    top: 60%;
    margin: 0;
    padding: 0;
}
.form {
    display: flex;
    background-color: #e1dac9;
    flex-grow: 1;
    margin-left: 0;
    padding: 50px;
}
.credits {
    font-size: 1.5em;
    position: absolute;
    bottom: 5px;
    left: 35%;
    padding: 0;
    margin: 0;
    color: white;
}
.intro {
    font-size: 26px;
    font-weight: bold;
}
.photographer {
    color: white;
}
.form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.content {
    width: 60%;
    height: 40%;
    padding: 20px;
    background-color: rgb(200, 220, 168);
    box-shadow: 0 0 5px 2px grey;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    color: red;
}
.submission {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.myButton:hover {
    background-color: #e2c788;
}
.myButton {
    font-family: inherit;
    font-size: inherit;
    padding: 30px;
    border-radius: 15px;
    background-color: #e0d0a9;
    width: 20%;
}
.field:valid {
    border-color: green;
}



.field:invalid {
   
    border-color: red;
}
.field {
    font-size: inherit;
    font-family: inherit;
    height: 50%;
    border-radius: 15px;
    padding-left: 20px;
    border: 2px;
    border-style: solid;
    border-color: thistle;

}